*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--card-font);
  }
  body{
    background: var(--color-one);
  }
  a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
  }
  input{
    padding: 5px;
  }
  li{
    list-style: none;
    text-align: center;
  }
  :root{
    --title-font : 'Kanit', sans-serif;
    --card-font : 'Manrope', sans-serif;
    --tercero-font : 'Exo 2', sans-serif;
    --cuarto-font : font-family: 'Rajdhani', sans-serif;


    --color-one : #E0E0E0;
    --color-two : #ED6B5B;
    --color-four :#19191b;
    --color-five :#F9AC68;
    --color-six : #ECE6CE;
  }
  .title {
    font-size: 1rem;
    font-family: var(--tercero-font);
    text-transform: uppercase;
    margin-top: 10px;
  }
  .font{
    font-family: var(--tercero-font);
  }
  .t-a-center{
    text-align: center;
  }
  .nav{
    color: var(--color-one);
    font-size: .70rem;
    font-weight: 700;
    padding: 10px;
  }
  .img-dos{
    display: none;
  }
  .color-blanco{
    color: var(--color-six);
}
.price{
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 10px;
  font-family: var(--card-font);
}
.info{
  font-size: .8rem;
  line-height: 20px;
  font-family: var(--card-font);
  opacity: 0.8;
}
.gris{
  opacity: .7;
}
.top-shadow {
  box-shadow: 0 -5px 5px -5px rgba(0, 0, 0, 0.16);}