.index{
    max-width: 1268px;
    margin: auto;
    background: var(--color-one);
}
.index{
    background: var(--color-one);
}
.index h3,.all h3{
    width: 100%;
}
.index .button-todo{
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 5px;
    font-size: 1rem;
    text-transform: uppercase;
    font-family: var(--title-font);
    background: var(--color-one);
    cursor: pointer;
    border-radius: 20px;
    margin: auto;
    background: var(--color-four);
    color: var(--color-six);
}
.index {
    font-family: var(--card-font);
}
.index .products .products-cnt .product,.all .products .products-cnt .product {
    width: 45%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   /* max-width: 150px;/**/
    margin: 10px 0;
}
.index .products,.index .section-cat,.all .products{
    width: 90%;
    margin: auto;
}
.index .products .products-cnt,.all .products .products-cnt{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 10px;
}
.index .best .best-cnt .product .img-product .img-uno{
    width: 100%;
}
.index .img-product, .all .img-product{
    position: relative;
    padding: 5px;
}
.index .img-product .precio,.img-logo{
    position: absolute;
}
.all .img-product .precio,.img-logo{
    position: absolute;
}
.index .products .products-cnt .product .img-product .img-dos,.all .products .products-cnt .product .img-product .img-dos{
    display: none;
}
.index .products .products-cnt .product .img-product .img-logo,.all .products .products-cnt .product .img-product .img-logo{
    width: 40px;
    top: 1%;
    right: 5%;
}
.index .products .products-cnt .product .img-product .img-uno,.all .products .products-cnt .product .img-product .img-uno{
    width: 100%;
}
.index .products .products-cnt .product .img-product .precio,.all .products .products-cnt .product .img-product .precio{
    bottom: 10%;
    left: 7%;
    font-size: 0.80rem;
}

.index .products .products-cnt .product .info-cnt,.all .products .products-cnt .product .info-cnt{
    width: 100%;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    display: flex;
    justify-content: center;
    padding: 5px;
    flex-direction: column;
    align-items: center;
}

.index .button,.all .button{
    padding: 5px;
    border: 1px solid lightgray;    
    border-radius: 5px;
    font-size: 0.7rem;   
    text-transform: uppercase;
    font-family: var(--title-font);
    background: var(--color-one);
    cursor: pointer;
    border-radius: 20px;
    margin-top: 5px;
}
/*********************************/
/*********************************/
/*********************************/
/*********************************/

.index .section-cat .cont-cat{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.index .section-cat .cont-cat .cat-publico .cat-titulo{
    margin: 10px;
}
.index .section-cat .cont-cat .cat-publico .img-publico{
    width: 100%;
    padding: 1px;
}

/*********************************/
/*********************************/
/*********************************/
/*********************************/
/*********************************/
/*********************************/
/*********************************/
/*********************************/

.index .best{
    width: 90%;
    margin: auto;
}
.index .best .best-cnt{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.index .best .best-cnt .product{
    width: 45%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background: white;
    margin: 10px 0;
}
.index .best .best-cnt .product .img-product .precio{
    position: absolute;
    bottom: 10%;
    left: 7%;
    font-size: 0.80rem;
}
.index .best .best-cnt .product .img-product .img-logo{
    width: 40px;
    position: absolute;
    top: 1%;
    right: 5%;
}
.index .best .best-cnt .product .info-cnt{
    width: 100%;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    display: flex;
    justify-content: center;
    padding: 5px;
    flex-direction: column;
    align-items: center;
}
/*********************************/
/*********************************/
/*********************************/
/*********************************/
/*********************************/
/*********************************/
/*********************************/
/*********************************/
.index .logo-busqueda{
    display: none;
}
.index .marcas,.all .marcas{
    width: 90%;
    margin: auto;
}
.index .marcas, .all .marcas{
    display: flex;
    justify-content: space-around;
}
.index .marcas .marcas-cnt,.all .marcas .marcas-cnt{
    line-height: 0;
}
.index .marcas .marcas-cnt .form-marca{
    display: flex;
    align-items: center;
}
.index .marcas .marcas-cnt .boton-marca{
    border: none;
    background-color: var(--color-one);
}
.index .marcas .marcas-cnt .marca .img-marca, .all .marcas .marcas-cnt .marca .img-marca{
    width: 100%;
}


@media (min-width : 460px){
    .index .section-cat .cont-cat{
        flex-wrap: nowrap;
    }
    .index .section-cat .cont-cat .cat-publico{
        overflow: hidden;
    }
    .index .section-cat .cont-cat .cat-publico .img-publico{
        transition: .5s;
        object-fit: cover;

    }
    .index .section-cat .cont-cat .cat-publico .img-publico:hover, .all .section-cat .cont-cat .cat-publico .img-publico:hover  {
        transform: scale(1.1);
        padding: 5px;
        opacity: .8;
    }
    .index h3:hover{
        color: var(--color-four);
        cursor: pointer;
    }
    .index .best .best-cnt .product{
        transition: .5s;
    }
    .index .best .best-cnt .product:hover{
        transform: scale(1.034);
    }
    .index .best .best-cnt .product .img-product .img-uno:hover{
        display: none;
    }
    .index .best .best-cnt .product .img-product .img-uno:hover ~ .img-dos {
        display: inline;
        width: 100%;
    }
    .index .button:hover, .all .button:hover{
        background-color: var(--color-four);
        color: var(--color-six);
    }
    .index .button-todo:hover{
        background-color: var(--color-six);
        color: var(--color-four);
    }

    .index .products .products-cnt .product,.all .products .products-cnt .product{
        transition: .5s;
    }
    .index .products .products-cnt .product:hover, .all .products .products-cnt .product:hover{
        transform: scale(1.034);
    }
    .index .products .products-cnt .product .img-product .img-uno:hover, .all .products .products-cnt .product .img-product .img-uno:hover{
        display: none;
    }
    .index .products .products-cnt .img-product .img-uno:hover ~ .img-dos,.all .products .products-cnt .img-product .img-uno:hover ~ .img-dos {
        display: inline;
        width: 100%;
    }
    .index .product .info-cnt .nombre-prdt{
        font-size: 1rem;
    }

    .index .products .products-cnt .product .img-product .precio:hover,.all .products .products-cnt .product .img-product .precio:hover{
        padding: 2px;
        border: 1px solid var(--color-four);
        background: var(--color-four);
        color: var(--color-one);
        border-radius: 10px;
        font-size: 1rem;
    }
}

@media (min-width : 768px){
    .index .best .best-cnt .product{
        width: 22%;
    }
    .index .products .products-cnt,.all .products .products-cnt{
        justify-content: flex-start;
        flex-wrap: wrap;
        margin-bottom: 10px;
    }
    .index .products .products-cnt .product,.all .products .products-cnt .product{
        width: 23%;
        margin: 5px;
    }

}