<!DOCTYPE html>
<html lang="es">
    <%- include('./partials/head') %> 

<body>
    <%- include('./partials/header') %>
<main class="detail">
   <section class="detail-stn">

    <article class="detail-art">

        <div class="detail-product">

            <div class="cnt-principal">
                <a href=""><img class="img-principal" src="/images/zapas/AD_GW4113-1.jpg" alt=""></a>
            </div>
            <div class="cnt-secundarios">
                <input type="radio" name="position" class="carrousel" checked>
                <input type="radio" name="position" class="carrousel">
                <input type="radio" name="position" class="carrousel">
                <input type="radio" name="position" class="carrousel">
            </div>
<!--
                <div class="todas-cnt">
                    <div class="img-todas">
                        <a href=""><img src="/images/zapas/AD_GW4113-1.jpg" alt=""></a>
                    </div>
                    <div class="img-todas">
                        <a href=""><img src="/images/zapas/AD_GW4113-2.jpg" alt=""></a>
                    </div>
                    <div class="img-todas">
                        <a href=""><img src="/images/zapas/AD_GW4113-3.jpg" alt=""></a>
                    </div>
                </div>
-->
            </div>
            <div class="info-cnt">
                <h2 class="price t-a-center">Adidas Go Walk</h2>
                <p class="price t-a-center">$10.079</p>
                <p class="info t-a-center">Descuento de $4.320(30%)</p>
                <p class="info t-a-center">6 cuotas sin interés de $3.360 </p>
                <select class="button-info" name="" id="">
                    <option value="">37</option>
                    <option value="">38</option>
                    <option value="">39</option>
                    <option value="">40</option>
                    <option value="">41</option>
                    <option value="">42</option>
                    <option value="">43</option>
                </select>
                <button class="button-info">agregar al carrito</button>
            </div>
        </div>
    </article>
   </section>
   <section class="detail-stn">
    <article class="detail-art top-shadow">
        <div class="more-cnt">

            <div class="detail-desc">
                <h2 class="t-a-center title">descripcion</h3>
                <p class="t-a-center">

                    Las Zapatillas adidas Duramo 10 presentan un diseño moderno y urbano, ideal para los runners que aman la moda. Su exterior de malla aporta transpirabilidad y resistencia, mientras que la suela de caucho aporta tracción en diversas superficies. La amortiguación LIGHTMOTION mejora tus pasos y te brinda la comodidad que necesitas para superar todas tus marcas.
                    </p>
            </div>


            <div class="detail-table">
                <h2 class="t-a-center title">especificaciones</h2>
                <ul class="list-cnt">
                    <li class="tabla"> <span>Género:</span>   <p class="gris">Mujer</p></li>
                    <li class="tabla"> <span>Talles:</span>  <p class="gris">36,37,38,40</p></li>
                    <li class="tabla"> <span>Marca:</span>  <p class="gris"> Nike</p></li>
                    <li class="tabla"> <span>Origen:</span>  <p class="gris">Nacional</p></li>
                    <li class="tabla"> <span>Color:</span>  <p class="gris">Blanco</p></li>
                    <li class="tabla"> <span>Ajuste:</span>  <p class="gris">Cordones</p></li>
                </ul>
               
            </div>



        </div>
    </article>
   </section>
   <section class="rela-stn">
    <article class="rela-art">
    <h2 class="title t-a-center">Relacionados</h2>
<div class="product">
    <div class="img-product">
      <a href="">
        <img class="img-prdt img-uno" src="/images/zapas/AD_GW4113-1.jpg" alt="">
        <img class="img-prdt img-dos" src="/images/zapas/AD_GW4113-2.jpg" alt="">
  
          <p class="precio">$ 1.599</p>
        <img class="img-logo" src="/images/logos/adidas.png" alt="">
      </a>
      </div>
      
  <div class="info-cnt">
    <p class="nombre-prdt t-a-center">Adidas Go Walk</p>
    <button class="button">ver mas</button>
  </div>
    </div>


      <div class="product">
        <div class="img-product">
          <a href="">
            <img class="img-prdt img-uno" src="/images/zapas/AD_GW4113-1.jpg" alt="">
            <img class="img-prdt img-dos" src="/images/zapas/AD_GW4113-2.jpg" alt="">
      
              <p class="precio">$ 1.599</p>
            <img class="img-logo" src="/images/logos/adidas.png" alt="">
          </a>
          </div>

          
  <div class="info-cnt">
    <p class="nombre-prdt t-a-center">Adidas Go Walk</p>
    <button class="button">ver mas</button>
  </div>
        </div>


          <div class="product">
            <div class="img-product">
              <a href="">
                <img class="img-prdt img-uno" src="/images/zapas/AD_GW4113-1.jpg" alt="">
                <img class="img-prdt img-dos" src="/images/zapas/AD_GW4113-2.jpg" alt="">
          
                  <p class="precio">$ 1.599</p>
                <img class="img-logo" src="/images/logos/adidas.png" alt="">
              </a>
              </div>
              
  <div class="info-cnt">
    <p class="nombre-prdt t-a-center">Adidas Go Walk</p>
    <button class="button">ver mas</button>
  </div>
            </div>


              <div class="product">
                <div class="img-product">
                  <a href="">
                    <img class="img-prdt img-uno" src="/images/zapas/AD_GW4113-1.jpg" alt="">
                    <img class="img-prdt img-dos" src="/images/zapas/AD_GW4113-2.jpg" alt="">
              
                      <p class="precio">$ 1.599</p>
                    <img class="img-logo" src="/images/logos/adidas.png" alt="">
                  </a>
                  </div>
                  
  <div class="info-cnt">
    <p class="nombre-prdt t-a-center">Adidas Go Walk</p>
    <button class="button">ver mas</button>
  </div>
                </div>
    </article>
   </section>
</main>
    <%- include('./partials/footer') %>  
</body>
</html>
