<!DOCTYPE html>
<html lang="es">
    <%- include('./partials/head') %> 

<body>
    <%- include('./partials/header') %>
<main class="detail">
   <section>
    <article>
        <div>
            <div><img src="" alt=""></div>
            <div>
                <a href=""></a>
                <a href=""></a>
                <a href=""></a>
                <a href=""></a>
                <img src="" alt="">
                <img src="" alt="">
                <img src="" alt="">
                <img src="" alt="">
            </div>
        </div>
    </article>
   </section>
</main>
    <%- include('./partials/footer') %>  
</body>
</html>
