<!DOCTYPE html>
<html lang="es">
    <%- include('./partials/head') %> 

<body>
    <%- include('./partials/header') %>
<main class="login">
    <h2 class="t-a-center title">Inicia Sesión</h2>
    <form class="formulario" action="">
<div class="form-cnt">
            <label for="usuario"></i></label>
            <input class="input" type="text" name="usuario" id="usuario" placeholder="Usuario">
    
</div>
<div class="form-cnt">
            <label for="contrasena"></label>
            <input class="input" type="password" name="contrasena" id="contrasena" placeholder="Contraseña">
</div>
<div class="boton-log">
    <button type="submit">Entrar</button>
</div>
    </form>
</main>
    <%- include('./partials/footer') %>  
</body>
</html>

