<footer class="footer font">
    <h2 class="t-a-center"><a href=""><img class="logo-img" src="/images/logos/tulogo.jpg" alt=""></a></h2>
    <div class="contacto">
        <div class="contacto-icono"><a class="color-blanco" href=""><i class="fa-brands fa-whatsapp"></i></a></div>
        <div class="contacto-icono"><a class="color-blanco" href=""><i class="fa-solid fa-g"></i></a></div>
        <div class="contacto-icono"><a class="color-blanco" href=""><i class="fa-brands fa-github"></i></a></div>
        <div class="contacto-icono"><a class="color-blanco" href=""><i class="fa-brands fa-linkedin"></i></a></div>
    </div>
    <div class="paginas">
        <ul class="paginas-cnt">
            <li class="pagina"><a class="color-blanco" href="">contacto</a></li>
            <li class="pagina"><a class="color-blanco" href="">tienda</a></li>
            <li class="pagina"><a class="color-blanco" href="">registrarse</a></li>
            <li class="pagina"><a class="color-blanco" href="">iniciar sesion</a></li>
        </ul>
    </div>
    <div class="ir-arriba">
        <a class="color-blanco" href="#"><i class="fa-solid fa-arrow-up"></i></a>
    </div>
</footer>
<%- include('../partials/scripts') %> 
