<header id="#" class="header">
<div class="nav-top">
        <div class="header-top">
            <div>
                <a href=""><i class="fa-solid fa-user"></i></a>
                <a href=""><i class="fa-solid fa-cart-shopping"></i></a>
            </div>
        </div>
    
        <h1><a class="title" href="/"><img class="logo-img" src="/images/logos/tulogo.jpg" alt=""></a></h1>
    
        <form action="/search">
    
              <input type="search" name="busqueda" id="" placeholder="¿Buscas algo en particular?">
    
              <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
        
</div>
    <nav>
            <input class="burger-nav" type="checkbox" id="menu" checked>
            <label class="label-burger" for="menu">☰</label>
            <ul class="lista-nav">
            <li> <a class="nav" href="/users/login">Iniciar Sesion </a> </li>
            <li> <a class="nav" href="/users/register">Registrate </a> </li>
            <li> <a class="nav" href="">Nosotros </a> </li>
            <li> <a class="nav" href="">Contacto </a> </li>
        </ul>
    </nav>
</header>